*   {
    max-width: 320px;
    background: lemonchiffon;
}

.main-nav,
.nav    {
    
    list-style-type: none;
  
}

.nav-item{
    display:block;
    margin: 10px 0px;
    background: white;
    height: 30px;
    padding-top:10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.portfolio-img  {
    display:block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic    {
    display:block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, p {
    text-align: center;
    /* font-family: Raleway; */
}