*   {
    max-width: 320px;
    background: lemonchiffon;
}

.main-nav,
.nav    {
    display:inline-block;
    list-style-type: none;
    text-align: center;
    width: 95%;
}

.nav-item{
    margin: 10px 0px;
    background: white;
    height: 30px;
    padding-top:10px;
    text-align: center;
    
}