/* Main Wrapper */
.main-wrap   {
    max-width: 320px;  
}

/* Main parts */

header{
    padding-bottom:25px;
}
main{
    background-color: white;
    padding-top:25px;
}

body, footer, .contact    {
    font-family: 'Raleway';
    background: rgb(249, 249, 249);
}

footer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 1px lightgray;
    padding:10px 0;
}

h1, h2, h3, p {
    text-align: center;
}

/* Navigation */

.main-nav,
.nav    {
    
    list-style-type: none;
    margin:0px;
    padding:0px;
}


.nav-item{
    display:block;
    margin: 10px 0px;
    background: white;
    height: 30px;
    padding-top:10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
}

a   {  
    text-decoration: none;
    font-family: Raleway;
}
    
/* Portfolio */

.portfolio-img  {
    display:block;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
    
}

.profile-pic    {
    display:block;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
    padding-bottom: 15px;
}

.portfolio-wrap {
    padding-bottom: 35px;
}

/* Contact */

.contact{
    padding-top:35px;
    padding-bottom:35px;
}

/* Media Query */

@media screen and (min-width: 768px )   {

}

@media screen and (min-width: 1024px )   {

}

